.inline-link-2 {
    display: inline-block;
    border-bottom: 2px dashed rgba(0,0,0,0.9);
    /* Font styles */
    text-decoration: none;
    color: #777;
}
 
.inline-link-2:hover {
    border-bottom-style: dotted;
}
 
.inline-link-2:active {
    border-bottom-style: solid;
}
 
.inline-link-2:visited {
    border-bottom: 2px solid #97CAF2;
}
